# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/
ENV/

# Environment variables
.env
.env.*

# VSCode config
.vscode/

# Pytest / Coverage
.coverage
coverage.xml
htmlcov/
.tox/
.pytest_cache/

# Mypy / Pylint / Ruff
.mypy_cache/
.dmypy.json
.pyre/
ruff_cache/

# Logs
*.log

# Alembic
alembic/versions/*.pyc
alembic/versions/__pycache__/

# SQLite (falls verwendet)
*.sqlite3

# MacOS / Windows
.DS_Store
Thumbs.db

# Database dump files
*.sql
*.dump
